.singUp {
    font-size: 1em;
    height: 34.6rem;
    background: url("../../public/images/backgrounds/newsletter.png");
    display: flex;
    justify-content: center;
    align-items: center;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        font-size: 3.3em;
        margin-left: 1em;
        color: white;
        .calling {
            font-family: "Metropolis Bold";
        }
    }
    .subContainer {
        margin-right: 1.6em;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        height: 100% !important;
        .emailInputContainer {
            display: flex;
            flex-direction: column;
            background-color: white;
            border-radius: 0.15em;
            padding: {
                top: 0.2em;
                bottom: 0.1em;
                left: 0.8em;
                right: 0.8em;
            }
            label {
                font-family: "Metropolis Bold";
                color: rgb(63, 109, 167);
                font-size: 0.55em;
            }
            input {
                padding: 0;
                font-size: 0.55em;
                border: none;
                width: 25em;
                &:active,
                &:focus {
                    outline: none;
                    border: none;
                }
            }
        }
        button {
            margin-top: 1.5em;
            letter-spacing: 0.01em;
            font-size: 0.5em;
            background-color: rgb(48, 83, 127);
            font-family: "Metropolis Bold";
            border: none;
            border-radius: 0.2em;
            padding: 0.8em;
        }
    }
}

.privacyContainer {
    display: flex;
    justify-content: center;
    background-color: rgb(239, 239, 239);
    .privacyMessage {
        line-height: 1.2em;
        color: rgb(84, 84, 84);
        padding-top: 1.4em;
        padding-bottom: 1.7em;
        font-size: 1.6em;
        display: flex;
        align-items: center;
        width: 88%;
        a {
            color: rgb(0, 76, 127);
        }
    }
}

