$backgroundColor: #0E517D;
$container: 90%;

.titleBoxContainer{    
    width: 100%;
    h1, h2, h3{
        display: flex;
        width: $container;
        margin: 0 auto;
        font-size: 5rem;
        font-family: "Metropolis Bold";
        color: $backgroundColor;
        text-transform: capitalize;
    }
}

.titleBoxAlignStart{
    display: flex;
    justify-content: start;
}

.titleBoxAlignCenter{
    display: flex;
    justify-content: center;
}

.titleBoxAlignEnd{
    display: flex;
    justify-content: end;
}