.button {
    width: max-content;
    color: white;
    background-color: rgba(3, 83, 128);
    font-family: "Metropolis Bold";
    font-size: 1.2em;
    line-height: 1.4em;
    border: none;
    border-radius: 0.2em;
    padding: 0 0.6em;
    padding-top: 0.1em;
    cursor: pointer;
}
