.inputContainer {
    display: flex;
    flex-direction: column;
    margin-top: 0.2em;
}

.label {
    color: rgb(16, 84, 121);
}

.input {
    border: 2px solid gray;
    border-radius: 0.15em;
    padding-left: 0.7em;
}
